<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width", initial-scale="1.0">
    <!--helps make the website responsive-->
    <title>CARS</title>
    <link rel="stylesheet" href="/static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--this is the link of the google font chosen aka fonts.google.com(poppins)!! Please see luna if you want the font to change!!!-->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="assets/logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a class="index.html">Home</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="inventory.html">INVENTORY</a></li>
                    <li><a href="cart.html">CART</a></li>
                    <li><a href="home.html">SEARCH</a></li>
                </ul>
            </div>
        </nav>
<!--website content-->
<div class="text-box">
    <h1>Largest Selection of Cars Online</h1>
    <!--the <br> means there is a line break and makes the text into two lines-->
    <p>Looking for your dream car? Look no further! Our extensive inventory of new and used cars<br>has something for everyone. Whether you're in the market for a fuel-efficient sedan, a spacious SUV, <br>or a powerful pickup truck, we've got you covered.</p>
    <!--button to next link-->
    <a href="" class="inv-btn">Find Your Dream Car Today!</a>
</div>

    </section>
    <body>
        <link rel="stylesheet" href="/static\css\style.css">
        <div id ="preloader"></div>
        <script>
            var loader = document.getElementById("preloader");
            window.addEventListener("load", function(){
                loader.style.display = "none";
            })
        </script>
    </body>
</body>
</html>