*{
    margin: 0;
    padding: 0;
    /*can be applied to all of the html elements*/
    font-family: 'Poppins', sans-serif;
    /*the second part of the font from google!!*/
}
/*background colors and images*/
.header{
    min-height: 100vh;
    width: 100%;
    /*the gif adds to the moving banner on the website*/
    background-image: linear-gradient(rgba(147, 149, 158, 0.7),rgba(147, 149, 158, 0.7)),url(images/banner.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerinv{
    min-height: 100vh;
    width: 100%;
    /*the gif adds to the moving banner on the website*/
    background-image: linear-gradient(rgba(147, 149, 158, 0.7),rgba(147, 149, 158, 0.7)),url(images/banner.gif); 
    background-position: center;
    background-size: cover;
    position: relative;

}  
/*this will align the different cta buttons (home, inventory, ect.)*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
/*fixing the size of the logo*/
.nav-links{
    flex: 1;
    text-align: right;
}
/*the ul and li are basically the list/cta buttons on the top of the page*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/*color and removing the underlining of cta buttons aka the animation :)*/
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
}
/*underline for the cta buttons*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(77, 66, 68);
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*the cta button underline is only seen with cursor on it*/
.nav-links ul li:hover::after{
    width: 100%;
}
/*to make the text into the center of the website*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/*title size*/
.text-box h1{
    font-size:62px;
}
/*size of the text under the title and the text color*/
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

/*the inventory btn aka the 'Find Your Dream Car Today!' btn/box*/
.inv-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/*when the inv-btn is hovered by the cursor then there will be a different color, this is similar to the underline of the cta buttons*/
.inv-btn:hover{
    border: 1px solid rgb(77, 66, 68);
    background: rgb(77, 66, 68);
    transition: 1s;
}
/*iphone view*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
}
#preloader{
    background: rgb(77, 66, 68);
    background-size: 10%;
    height: 100vh;
    min-width: 1000.00;
    min-height: 1000.00;
    top: -30px;
    width: 100%;
    position: fixed;
}
/*---CARS---*/
/*different car brands and descriptions*/
.cars{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(61, 56, 56);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
/*box around descriptions*/
.cars-col{
    flex-basis: 23%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}
/*hover effect*/
.cars-col:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/*iphone view boxes*/
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*-------ABOUT-------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(147, 149, 158, 0.7),rgba(147, 149, 158, 0.7)),url(images/banner.gif);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}
.sub-header h1{
    margin-top: 100px;
}
/*about padding*/
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
/*------Mailing------*/
.sub-search{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(147, 149, 158, 0.7),rgba(147, 149, 158, 0.7)),url(images/banner.gif);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}
.mailing h3{
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
}
.inv h1{
    margin-top: 30px;
    font-size: 30px;
}
.inv p{
    margin: 10px 0 50 px;
}
/*----MAIL BAR---*/
form{
    background: #fff;
    display: flex;
    width: fit-content;
}
form input{
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 60px;
    width: 400px;
    font-size: 16px;
}
form button{
    background: #eb7f41;
    border: none;
    outline: none;
    height: 60px;
    width: 100px;
    cursor: pointer;
}
span{
    color:rgb(255, 162, 57);
    margin-top: 10px;
    display: block;
    font-size: 20px;
}

.lb{
    padding-top: 25px;  
    padding-left: 38.5%;  
}


.title{
    text-align:center;
}

.About-us-title{
    position:absolute;
    top: 200x;
    left: 50%;
    transform:translate(-60%,0)
}

.description{
    position:absolute;
    top:180px;
    right: 92px;
    text-align:center;
    width:90%
}


.bottom{
    width: 35px;
    height: 35px;
    transition: .5s;
    float: left;
    box-shadow: -2px 2px 0 darkgrey;
    position:absolute;
    right:50%;
    bottom:30px;
}
  

  
.bottom {
    transform: rotate(315deg);
}